<a href="https://colab.research.google.com/github/wonkwonlee/a2w-kma-big-data-contest/blob/main/ASOS_Merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
# 경로 설정 
import os
os.chdir('/content/drive/MyDrive/Colab Notebooks')

In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import csv
import glob
import sys

In [7]:
# 연도별 지역별로 csv 병합

input_path = "../A2W/데이터/ASOS/"

# 연도별 CSV 병합시키는 함수
def combine(year):
  # ASOS_DAY_로 시작하는 연도별 모든 지역 csv 파일
  all_files = glob.glob(os.path.join(input_path,'ASOS_DAY_' + year + '_*'))
  
  all_data_frames = []
  # 각 파일 별 데이터프레임을 all_data_frames에 저장
  for file in all_files:
    data_frame = pd.read_csv(file, index_col=None)
    all_data_frames.append(data_frame)
  # concat을 이용해 세로로 결합
  data_frame_concat = pd.concat(all_data_frames, axis=0, ignore_index=True)
  # CSV output 저장 
  data_frame_concat.to_csv("data/asos/ASOS_all_" + year + ".csv", index=False, encoding='utf-8-sig')

In [ ]:
# 2011부터 2019년까지 각각 combine
for i in range(2011, 2020):
  combine(str(i))

In [9]:
# 단일 파일 csv 생성

all_files = glob.glob(os.path.join("data/asos/",'ASOS_all_*'))

merged_asos = []
for file in all_files:
  data_frame = pd.read_csv(file, index_col=None)
  merged_asos.append(data_frame)
merged_asos_concat = pd.concat(merged_asos, axis=0, ignore_index=True)
merged_asos_concat.to_csv("data/asos/ASOS_merged.csv", index=False, encoding='utf-8-sig')

In [22]:
# 101895 rows × 62 columns

asos_df = pd.read_csv("data/asos/ASOS_merged.csv")
asos_df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (60) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        stnId  ... sumFogDur
0         115  ...       NaN
1         115  ...       NaN
2         115  ...       NaN
3         115  ...       NaN
4         115  ...       NaN
...       ...  ...       ...
101890    295  ...       NaN
101891    295  ...       NaN
101892    295  ...       NaN
101893    295  ...       NaN
101894    295  ...       NaN

[101895 rows x 62 columns]

In [19]:
# 날짜 순 정렬 및 지역 코드 순서대로 정렬
# 울릉도, 울진, 안동, 상주, 포항, 대구, 울산, 창원, 부산, 김해시, 북창원, 양산시, 의령군, 함양군, 봉화
# 영주, 문경, 통영, 진주, 청송군, 영덕, 의성, 구미, 영천, 경주시, 거창, 합천, 밀양, 산청, 거제, 남해

asos_df_sorted = asos_df.sort_values(by=['tm', 'stnId'], ignore_index=True)
asos_df_sorted

        stnId  ... sumFogDur
0         115  ...       NaN
1         130  ...       NaN
2         136  ...       NaN
3         137  ...       NaN
4         138  ...       NaN
...       ...  ...       ...
101890    285  ...       NaN
101891    288  ...       NaN
101892    289  ...       NaN
101893    294  ...       NaN
101894    295  ...       NaN

[101895 rows x 62 columns]

In [27]:
# 날씨 데이터 타입 변환

asos_df_sorted['tm'] = pd.to_datetime(asos_df_sorted['tm'])
asos_df_sorted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101895 entries, 0 to 101894
Data columns (total 62 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   stnId           101895 non-null  int64
 1   stnNm           101895 non-null  object
 2   tm              101895 non-null  datetime64[ns]
 3   avgTa           101811 non-null  float64
 4   minTa           101885 non-null  float64
 5   minTaHrmt       101887 non-null  float64
 6   maxTa           101881 non-null  float64
 7   maxTaHrmt       101881 non-null  float64
 8   mi10MaxRn       23240 non-null   float64
 9   mi10MaxRnHrmt   17200 non-null   float64
 10  hr1MaxRn        23246 non-null   float64
 11  hr1MaxRnHrmt    17740 non-null   float64
 12  sumRnDur        10435 non-null   float64
 13  sumRn           34976 non-null   float64
 14  maxInsWs        101866 non-null  float64
 15  maxInsWsWd      101869 non-null  float64
 16  maxInsWsHrmt    101869 non-null  float64
 17  maxWs           101860 non-null  float64
 18  maxWsWd         101869 non-null  float64
 19  maxWsHrmt       101869 non-null  float64
 20  avgWs           101828 non-null  float64
 21  hr24SumRws      101823 non-null  float64
 22  maxWd           101603 non-null  float64
 23  avgTd           101739 non-null  float64
 24  minRhm          101823 non-null  float64
 25  minRhmHrmt      101824 non-null  float64
 26  avgRhm          101723 non-null  float64
 27  avgPv           101730 non-null  float64
 28  avgPa           101781 non-null  float64
 29  maxPs           101852 non-null  float64
 30  maxPsHrmt       101857 non-null  float64
 31  minPs           101852 non-null  float64
 32  minPsHrmt       101857 non-null  float64
 33  avgPs           101783 non-null  float64
 34  ssDur           101885 non-null  float64
 35  sumSsHr         101700 non-null  float64
 36  hr1MaxIcsrHrmt  41861 non-null   float64
 37  hr1MaxIcsr      41852 non-null   float64
 38  sumGsr          41853 non-null   float64
 39  ddMefs          687 non-null     float64
 40  ddMefsHrmt      754 non-null     float64
 41  ddMes           1306 non-null    float64
 42  ddMesHrmt       1300 non-null    float64
 43  sumDpthFhsc     811 non-null     float64
 44  avgTca          41533 non-null   float64
 45  avgLmac         40171 non-null   float64
 46  avgTs           101820 non-null  float64
 47  minTg           101818 non-null  float64
 48  avgCm5Te        35356 non-null   float64
 49  avgCm10Te       35314 non-null   float64
 50  avgCm20Te       35382 non-null   float64
 51  avgCm30Te       35356 non-null   float64
 52  avgM05Te        12443 non-null   float64
 53  avgM10Te        12448 non-null   float64
 54  avgM15Te        9854 non-null    float64
 55  avgM30Te        9852 non-null    float64
 56  avgM50Te        9850 non-null    float64
 57  sumLrgEv        23177 non-null   float64
 58  sumSmlEv        27289 non-null   float64
 59  n99Rn           6269 non-null    float64
 60  iscs            17837 non-null   object
 61  sumFogDur       1689 non-null    float64
dtypes: datetime64[ns](1), float64(58), int64(1), object(2)
memory usage: 48.2+ MB

In [28]:
asos_df_sorted.to_csv("data/asos/ASOS_final.csv", index=False, encoding='utf-8-sig')