<a href="https://colab.research.google.com/github/wonkwonlee/a2w-kma-big-data-contest/blob/main/ASOS_data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# 경로 설정 
import os
os.chdir('/content/drive/MyDrive/Colab Notebooks')

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
asos = pd.read_csv("../A2W/데이터/ASOS_최종/ASOS_final.csv")
landslide = pd.read_csv("data/landslide_history.csv", encoding='cp949')

In [13]:
asos

        stnId  ... sumFogDur
0         115  ...       NaN
1         130  ...       NaN
2         136  ...       NaN
3         137  ...       NaN
4         138  ...       NaN
...       ...  ...       ...
101890    285  ...       NaN
101891    288  ...       NaN
101892    289  ...       NaN
101893    294  ...       NaN
101894    295  ...       NaN

[101895 rows x 62 columns]

In [ ]:
all_area = set()

for i in range(len(landslide)):
  all_area.add(landslide['sgg'][i] +"_"+ landslide['umd'][i])

all_area

{'거창군_가북면',
 '거창군_가조면',
 '거창군_거창읍',
 '거창군_고제면',
 '거창군_남상면',
 '거창군_남하면',
 '거창군_마리면',
 '거창군_북상면',
 '거창군_신원면',
 '거창군_웅양면',
 '경주시_감포읍',
 '경주시_강동면',
 '경주시_건천읍',
 '경주시_내남면',
 '경주시_동천동',
 '경주시_불국동',
 '경주시_선도동',
 '경주시_양남면',
 '경주시_양북면',
 '경주시_외동읍',
 '고령군_대가야읍',
 '고령군_덕곡면',
 '고령군_쌍림면',
 '고령군_우곡면',
 '고성군_개천면',
 '고성군_거류면',
 '고성군_고성읍',
 '고성군_구만면',
 '고성군_대가면',
 '고성군_동해면',
 '고성군_마암면',
 '고성군_삼산면',
 '고성군_상리면',
 '고성군_영오면',
 '고성군_영현면',
 '고성군_하일면',
 '고성군_회화면',
 '구미시_고아읍',
 '구미시_무을면',
 '구미시_선산읍',
 '구미시_옥성면',
 '구미시_인동동',
 '김천시_구성면',
 '김천시_농소면',
 '김천시_대곡동',
 '김천시_대덕면',
 '김천시_대신동',
 '김천시_대항면',
 '김천시_부항면',
 '김천시_어모면',
 '김천시_조마면',
 '김천시_증산면',
 '김천시_지례면',
 '김천시_평화남산동',
 '김해시_대동면',
 '김해시_북부동',
 '김해시_불암동',
 '김해시_상동면',
 '김해시_생림면',
 '김해시_장유1동',
 '김해시_장유2동',
 '김해시_진례면',
 '김해시_한림면',
 '남해군_고현면',
 '남해군_남면',
 '남해군_남면 ',
 '남해군_남해읍',
 '남해군_삼동면',
 '남해군_서면',
 '남해군_설천면',
 '남해군_이동면',
 '밀양시_내일동',
 '밀양시_단장면',
 '밀양시_무안면',
 '밀양시_부북면',
 '밀양시_산외면',
 '밀양시_상동면',
 '밀양시_청도면',
 '밀양시_초동면',
 '사천시_곤명면',
 '사천시_곤양면',
 '사천시_서포면',
 '사천시_용현면',
 '산청군_금서면',
 '산청군_단성면',
 '산청군_산청읍',
 '산청군_삼장면',
 '산청군_생비량면',
 '산청군_생초면',
 '산청군_시천면',
 '산청군_신등면',
 '산청군_신안면',
 '산청군_오부면',
 '산청군_차황면',
 '상주시_낙동면',
 '상주시_동성동',
 '성주군_가천면',
 '성주군_금수면',
 '성주군_대가면',
 '성주군_벽진면',
 '성주군_선남면',
 '성주군_성주읍',
 '성주군_수륜면',
 '성주군_용암면',
 '양산시_강서동',
 '양산시_상북면',
 '양산시_서창동',
 '양산시_원동면',
 '양산시_하북면',
 '영덕군_강구면',
 '영덕군_남정면',
 '영덕군_달산면',
 '영덕군_병곡면',
 '영덕군_영덕읍',
 '영덕군_영해면',
 '영덕군_지품면',
 '영덕군_창수면',
 '영덕군_축산면',
 '영양군_석보면',
 '영양군_수비면 ',
 '영양군_영양읍',
 '영양군_일월면',
 '영주시_봉현면',
 '영주시_평은면',
 '영천시_완산동',
 '영천시_청통면',
 '예천군_유천면',
 '울릉군_북면',
 '울릉군_울릉읍',
 '울진군_근남면',
 '울진군_금강송면',
 '울진군_기성면',
 '울진군_매화면',
 '울진군_북면',
 '울진군_온정면',
 '울진군_울진읍',
 '울진군_죽변면',
 '울진군_평해읍',
 '울진군_후포면',
 '의령군_궁류면',
 '의령군_봉수면',
 '의령군_의령읍',
 '의령군_칠곡면',
 '진주시_금곡면',
 '진주시_금산면',
 '진주시_내동면',
 '진주시_명석면',
 '진주시_문산읍',
 '진주시_미천면',
 '진주시_상봉동',
 '진주시_수곡면',
 '진주시_진성면',
 '진주시_초장동',
 '진주시_판문동',
 '창녕군_계성면',
 '창녕군_고암면',
 '창녕군_길곡면',
 '창녕군_도천면',
 '창녕군_부곡면',
 '창녕군_성산면',
 '창녕군_영산면',
 '창녕군_창녕읍',
 '창원시 마산합포구_구산면',
 '창원시 마산합포구_완월동',
 '창원시 마산합포구_자산동',
 '창원시 마산합포구_진전면',
 '창원시 마산회원구_내서읍',
 '창원시 마산회원구_회성동',
 '창원시 성산구_사파동',
 '창원시 성산구_웅남동',
 '창원시 의창구_동읍',
 '창원시 의창구_봉림동',
 '창원시 의창구_북면',
 '창원시 진해구_웅동2동',
 '청도군_매전면',
 '청도군_운문면',
 '청도군_청도읍',
 '청도군_화양읍',
 '청송군_안덕면',
 '통영시_광도면',
 '통영시_도산면',
 '통영시_미수동',
 '통영시_산양읍',
 '통영시_용남면',
 '통영시_정량동',
 '포항시 남구_대송면',
 '포항시 남구_연일읍',
 '포항시 남구_장기면',
 '포항시 남구_제철동',
 '포항시 북구_기계면',
 '포항시 북구_기북면',
 '포항시 북구_송라면',
 '포항시 북구_신광면',
 '포항시 북구_양학동',
 '포항시 북구_용흥동',
 '포항시 북구_우창동',
 '포항시 북구_장량동',
 '포항시 북구_죽장면',
 '포항시 북구_중앙동',
 '포항시 북구_청하면',
 '포항시 북구_환여동',
 '포항시 북구_흥해읍',
 '하동군_고전면',
 '하동군_북천면',
 '하동군_악양면',
 '하동군_양보면',
 '하동군_옥종면',
 '하동군_적량면',
 '하동군_진교면',
 '하동군_청암면',
 '하동군_하동읍',
 '하동군_화개면',
 '함안군_여항면',
 '함안군_칠북면',
 '함안군_칠원읍',
 '함안군_함안면',
 '함양군_마천면',
 '함양군_백전면',
 '함양군_병곡면',
 '함양군_서상면',
 '함양군_서하면',
 '함양군_수동면',
 '함양군_안의면',
 '함양군_유림면',
 '함양군_지곡면',
 '함양군_함양읍',
 '함양군_휴천면',
 '합천군_가야면',
 '합천군_가회면',
 '합천군_대병면',
 '합천군_대양면',
 '합천군_묘산면',
 '합천군_묘산면 ',
 '합천군_봉산면',
 '합천군_삼가면',
 '합천군_쌍백면',
 '합천군_쌍책면',
 '합천군_야로면',
 '합천군_용주면',
 '합천군_율곡면',
 '합천군_청덕면',
 '합천군_초계면',
 '합천군_합천읍'}

In [12]:
landslide['location'] = landslide['sgg'].str[0:2]
landslide

         date    sd     sgg  umd  sum_cnt  sum_hpa location
0    20110709  경상남도     밀양시  내일동        1     1.20       밀양
1    20110709  경상남도     밀양시  단장면        4     3.70       밀양
2    20110709  경상남도     밀양시  무안면        5     4.20       밀양
3    20110709  경상남도     밀양시  부북면        6     7.80       밀양
4    20110709  경상남도     밀양시  산외면        1     2.00       밀양
..        ...   ...     ...  ...      ...      ...      ...
354  20191003  경상북도  포항시 북구  장량동        1     0.02       포항
355  20191003  경상북도  포항시 북구  중앙동        1     0.40       포항
356  20191003  경상북도  포항시 북구  청하면        4     0.93       포항
357  20191003  경상북도  포항시 북구  환여동        1     0.10       포항
358  20191003  경상북도  포항시 북구  흥해읍        2     1.10       포항

[359 rows x 7 columns]

In [14]:
# 지역 명 컬럼(Location)을 ASOS 기준으로 통일

for i in range(len(landslide['location'])):
  if landslide['location'][i] == '울릉':
    landslide['location'][i] = '울릉도'
  elif landslide['location'][i] == '김해':
    landslide['location'][i] = '김해시'
  elif landslide['location'][i] == '양산':
    landslide['location'][i] = '양산시' 
  elif landslide['location'][i] == '의령':
    landslide['location'][i] = '의령군'
  elif landslide['location'][i] == '함양':
    landslide['location'][i] = '함양군'
  elif landslide['location'][i] == '청송':
    landslide['location'][i] = '청송군'
  elif landslide['location'][i] == '경주':
    landslide['location'][i] = '경주시'
  # 창원의 경우 북창원과 창원 구분이 필요함
  elif landslide['location'][i] == '창원시 마산합포구':
    landslide['location'][i] = '창원'
  elif landslide['location'][i] == '창원시 마산회원구':
    landslide['location'][i] = '북창원'
  elif landslide['location'][i] == '창원시 성산구':
    landslide['location'][i] = '북창원'
  elif landslide['location'][i] == '창원시 진해구':
    landslide['location'][i] = '창원'
  elif landslide['location'][i] == '창원시 의창구':
    landslide['location'][i] = '북창원'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [15]:
landslide

         date    sd     sgg  umd  sum_cnt  sum_hpa location
0    20110709  경상남도     밀양시  내일동        1     1.20       밀양
1    20110709  경상남도     밀양시  단장면        4     3.70       밀양
2    20110709  경상남도     밀양시  무안면        5     4.20       밀양
3    20110709  경상남도     밀양시  부북면        6     7.80       밀양
4    20110709  경상남도     밀양시  산외면        1     2.00       밀양
..        ...   ...     ...  ...      ...      ...      ...
354  20191003  경상북도  포항시 북구  장량동        1     0.02       포항
355  20191003  경상북도  포항시 북구  중앙동        1     0.40       포항
356  20191003  경상북도  포항시 북구  청하면        4     0.93       포항
357  20191003  경상북도  포항시 북구  환여동        1     0.10       포항
358  20191003  경상북도  포항시 북구  흥해읍        2     1.10       포항

[359 rows x 7 columns]

In [28]:
landslide.head(10)

       date    sd  sgg  umd  sum_cnt  sum_hpa location  stnId
0  20110709  경상남도  밀양시  내일동        1      1.2       밀양    288
1  20110709  경상남도  밀양시  단장면        4      3.7       밀양    288
2  20110709  경상남도  밀양시  무안면        5      4.2       밀양    288
3  20110709  경상남도  밀양시  부북면        6      7.8       밀양    288
4  20110709  경상남도  밀양시  산외면        1      2.0       밀양    288
5  20110709  경상남도  밀양시  상동면        6     12.5       밀양    288
6  20110709  경상남도  밀양시  청도면        2      1.3       밀양    288
7  20110709  경상남도  밀양시  초동면        1      4.0       밀양    288
8  20110709  경상남도  사천시  곤명면        1      1.0       사천      0
9  20110709  경상남도  사천시  곤양면        1      1.0       사천      0

In [18]:
asos_area = set()

for i in range(len(asos)):
  asos_area.add(asos['stnNm'][i])

asos_area

{'거제',
 '거창',
 '경주시',
 '구미',
 '김해시',
 '남해',
 '대구',
 '문경',
 '밀양',
 '봉화',
 '부산',
 '북창원',
 '산청',
 '상주',
 '안동',
 '양산시',
 '영덕',
 '영주',
 '영천',
 '울릉도',
 '울산',
 '울진',
 '의령군',
 '의성',
 '진주',
 '창원',
 '청송군',
 '통영',
 '포항',
 '함양군',
 '합천'}

In [32]:
# ASOS 날씨 데이터 기준 sites
sites = ['115', '130', '136', '137', '138', '143', '152', '155', '159', '253', '255', '257', '263', '264', '271', '272', '273', '162', '192', '276', '277', '278', '279', '281', '283', '284', '285', '288', '289', '294', '295']

sites_index = ['울릉도', '울진', '안동', '상주', '포항', '대구', '울산', '창원', '부산', '김해시', '북창원', '양산시', '의령군', '함양군', '봉화', '영주', '문경', '통영', '진주', '청송군', '영덕', '의성', '구미', '영천', '경주시', '거창', '합천', '밀양', '산청', '거제', '남해']

dic = {key:value for key, value in zip(sites_index, sites)}

landslide['stnId'] = 0
missing_area = []

for i in range(len(landslide['location'])):
  if landslide['location'][i] in sites_index:
    landslide['stnId'][i] = dic[landslide['location'][i]]
  else:
    missing_area.append(landslide['location'][i])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [40]:
s = list(set(missing_area))
# match = [a, b, c, d, e, f, g, h, i, j, k, l]

['김천', '영양', '예천', '사천', '청도', '성주', '고성', '고령', '함안', '하동', '창녕']

In [20]:
landslide

         date    sd     sgg  umd  sum_cnt  sum_hpa location  stnId
0    20110709  경상남도     밀양시  내일동        1     1.20       밀양    288
1    20110709  경상남도     밀양시  단장면        4     3.70       밀양    288
2    20110709  경상남도     밀양시  무안면        5     4.20       밀양    288
3    20110709  경상남도     밀양시  부북면        6     7.80       밀양    288
4    20110709  경상남도     밀양시  산외면        1     2.00       밀양    288
..        ...   ...     ...  ...      ...      ...      ...    ...
354  20191003  경상북도  포항시 북구  장량동        1     0.02       포항      0
355  20191003  경상북도  포항시 북구  중앙동        1     0.40       포항      0
356  20191003  경상북도  포항시 북구  청하면        4     0.93       포항      0
357  20191003  경상북도  포항시 북구  환여동        1     0.10       포항      0
358  20191003  경상북도  포항시 북구  흥해읍        2     1.10       포항      0

[359 rows x 8 columns]

In [44]:
match = []

for i in range(len(landslide['location'])):
  if landslide['location'][i] in s:
    match.append(landslide['sgg'][i] + " " + landslide['umd'][i])

In [45]:
m = set(match)
m

{'고령군 대가야읍',
 '고령군 덕곡면',
 '고령군 쌍림면',
 '고령군 우곡면',
 '고성군 개천면',
 '고성군 거류면',
 '고성군 고성읍',
 '고성군 구만면',
 '고성군 대가면',
 '고성군 동해면',
 '고성군 마암면',
 '고성군 삼산면',
 '고성군 상리면',
 '고성군 영오면',
 '고성군 영현면',
 '고성군 하일면',
 '고성군 회화면',
 '김천시 구성면',
 '김천시 농소면',
 '김천시 대곡동',
 '김천시 대덕면',
 '김천시 대신동',
 '김천시 대항면',
 '김천시 부항면',
 '김천시 어모면',
 '김천시 조마면',
 '김천시 증산면',
 '김천시 지례면',
 '김천시 평화남산동',
 '사천시 곤명면',
 '사천시 곤양면',
 '사천시 서포면',
 '사천시 용현면',
 '성주군 가천면',
 '성주군 금수면',
 '성주군 대가면',
 '성주군 벽진면',
 '성주군 선남면',
 '성주군 성주읍',
 '성주군 수륜면',
 '성주군 용암면',
 '영양군 석보면',
 '영양군 수비면 ',
 '영양군 영양읍',
 '영양군 일월면',
 '예천군 유천면',
 '창녕군 계성면',
 '창녕군 고암면',
 '창녕군 길곡면',
 '창녕군 도천면',
 '창녕군 부곡면',
 '창녕군 성산면',
 '창녕군 영산면',
 '창녕군 창녕읍',
 '청도군 매전면',
 '청도군 운문면',
 '청도군 청도읍',
 '청도군 화양읍',
 '하동군 고전면',
 '하동군 북천면',
 '하동군 악양면',
 '하동군 양보면',
 '하동군 옥종면',
 '하동군 적량면',
 '하동군 진교면',
 '하동군 청암면',
 '하동군 하동읍',
 '하동군 화개면',
 '함안군 여항면',
 '함안군 칠북면',
 '함안군 칠원읍',
 '함안군 함안면'}

* 김천 - 구미
* 영양 - 청송 (석보, 영양) /울진 (수비, 일월)
* 예천 - 문경
* 사천 - 진주
* 청도 - 밀양
* 성주 - 김천
* 고성 - 구미
* 고령 - 합천
* 함안 - 창원
* 하동 - 진주 (광양)
* 창녕 - 밀양