<a href="https://colab.research.google.com/github/wonkwonlee/a2w-kma-big-data-contest/blob/git-test/ASOS_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# 경로 설정 
import os
os.chdir('/content/drive/MyDrive/Colab Notebooks')

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
asos = pd.read_csv("../A2W/데이터/data_submission/ASOS_final.csv")

In [6]:
asos

        stnId  ... sumFogDur
0         115  ...       NaN
1         130  ...       NaN
2         136  ...       NaN
3         137  ...       NaN
4         138  ...       NaN
...       ...  ...       ...
101890    285  ...       NaN
101891    288  ...       NaN
101892    289  ...       NaN
101893    294  ...       NaN
101894    295  ...       NaN

[101895 rows x 62 columns]

In [8]:
asos = asos.drop(['minTaHrmt','maxTaHrmt','mi10MaxRnHrmt','hr1MaxRnHrmt','maxInsWsHrmt','maxWsHrmt','minRhmHrmt','maxPsHrmt',
                      'minPsHrmt','hr1MaxIcsrHrmt','ddMefsHrmt','ddMesHrmt','iscs'], axis=1)
asos

        stnId stnNm          tm  avgTa  ...  sumLrgEv  sumSmlEv  n99Rn  sumFogDur
0         115   울릉도  2011-01-01    0.8  ...       NaN       0.5    5.8        NaN
1         130    울진  2011-01-01   -1.0  ...       NaN       NaN    NaN        NaN
2         136    안동  2011-01-01   -4.5  ...       NaN       1.7    NaN        NaN
3         137    상주  2011-01-01   -5.2  ...       NaN       NaN    NaN        NaN
4         138    포항  2011-01-01   -0.6  ...       NaN       1.9    NaN        NaN
...       ...   ...         ...    ...  ...       ...       ...    ...        ...
101890    285    합천  2019-12-31   -1.5  ...       NaN       NaN    NaN        NaN
101891    288    밀양  2019-12-31   -1.1  ...       NaN       NaN    NaN        NaN
101892    289    산청  2019-12-31   -2.5  ...       NaN       NaN    NaN        NaN
101893    294    거제  2019-12-31    0.7  ...       NaN       NaN    NaN        NaN
101894    295    남해  2019-12-31   -0.6  ...       NaN       NaN    NaN        NaN

[101895 rows x 49 columns]

In [9]:
asos = asos.drop(['avgPv','avgPa','maxPs','minPs','avgPs','ssDur','sumSsHr','hr1MaxIcsr',
                              'avgTca','avgLmac','avgCm5Te','avgCm10Te','avgCm20Te','avgCm30Te','avgM05Te',
                              'avgM10Te','avgM15Te','avgM30Te','avgM50Te','sumFogDur'], axis=1)

asos = asos.drop(['maxInsWsWd','maxWsWd','hr24SumRws','maxWd','avgTd'], axis=1)

asos = asos.drop(['ddMefs','ddMes','sumDpthFhsc','avgTs','minTg','sumGsr','sumLrgEv','sumSmlEv'], axis=1)

asos

        stnId stnNm          tm  avgTa  ...  avgWs  minRhm  avgRhm  n99Rn
0         115   울릉도  2011-01-01    0.8  ...   11.1    65.0    82.5    5.8
1         130    울진  2011-01-01   -1.0  ...    6.0    40.0    79.0    NaN
2         136    안동  2011-01-01   -4.5  ...    2.1    41.0    58.8    NaN
3         137    상주  2011-01-01   -5.2  ...    3.3    36.0    50.0    NaN
4         138    포항  2011-01-01   -0.6  ...    2.8    39.0    48.1    NaN
...       ...   ...         ...    ...  ...    ...     ...     ...    ...
101890    285    합천  2019-12-31   -1.5  ...    1.8    18.0    40.6    NaN
101891    288    밀양  2019-12-31   -1.1  ...    2.9    14.0    26.4    NaN
101892    289    산청  2019-12-31   -2.5  ...    5.8    22.0    34.9    NaN
101893    294    거제  2019-12-31    0.7  ...    2.4    25.0    40.1    NaN
101894    295    남해  2019-12-31   -0.6  ...    1.3    26.0    44.6    NaN

[101895 rows x 16 columns]

In [10]:
asos[['mi10MaxRn','hr1MaxRn','sumRnDur','sumRn','n99Rn']] = asos[['mi10MaxRn','hr1MaxRn','sumRnDur','sumRn','n99Rn']].fillna(0)
asos

        stnId stnNm          tm  avgTa  ...  avgWs  minRhm  avgRhm  n99Rn
0         115   울릉도  2011-01-01    0.8  ...   11.1    65.0    82.5    5.8
1         130    울진  2011-01-01   -1.0  ...    6.0    40.0    79.0    0.0
2         136    안동  2011-01-01   -4.5  ...    2.1    41.0    58.8    0.0
3         137    상주  2011-01-01   -5.2  ...    3.3    36.0    50.0    0.0
4         138    포항  2011-01-01   -0.6  ...    2.8    39.0    48.1    0.0
...       ...   ...         ...    ...  ...    ...     ...     ...    ...
101890    285    합천  2019-12-31   -1.5  ...    1.8    18.0    40.6    0.0
101891    288    밀양  2019-12-31   -1.1  ...    2.9    14.0    26.4    0.0
101892    289    산청  2019-12-31   -2.5  ...    5.8    22.0    34.9    0.0
101893    294    거제  2019-12-31    0.7  ...    2.4    25.0    40.1    0.0
101894    295    남해  2019-12-31   -0.6  ...    1.3    26.0    44.6    0.0

[101895 rows x 16 columns]

In [11]:
asos.to_csv('../A2W/데이터/data_submission/ASOS_tmp.csv',index=False, encoding='utf-8-sig')

In [20]:
asos = pd.read_csv("../A2W/데이터/data_submission/ASOS_tmp.csv")
dist = pd.read_csv("../A2W/데이터/data_raw/hangjung_gubun.csv")
dist

      umd     sgg         umd2
0    구룡포읍  포항시 남구  포항시 남구 구룡포읍
1     연일읍  포항시 남구   포항시 남구 연일읍
2     오천읍  포항시 남구   포항시 남구 오천읍
3     대송면  포항시 남구   포항시 남구 대송면
4     동해면  포항시 남구   포항시 남구 동해면
..    ...     ...          ...
632   쌍백면     합천군      합천군 쌍백면
633   삼가면     합천군      합천군 삼가면
634   가회면     합천군      합천군 가회면
635   대병면     합천군      합천군 대병면
636   용주면     합천군      합천군 용주면

[637 rows x 3 columns]

In [21]:
dist['loc'] = dist['sgg'].str[0:2]
dist

      umd     sgg         umd2 loc
0    구룡포읍  포항시 남구  포항시 남구 구룡포읍  포항
1     연일읍  포항시 남구   포항시 남구 연일읍  포항
2     오천읍  포항시 남구   포항시 남구 오천읍  포항
3     대송면  포항시 남구   포항시 남구 대송면  포항
4     동해면  포항시 남구   포항시 남구 동해면  포항
..    ...     ...          ...  ..
632   쌍백면     합천군      합천군 쌍백면  합천
633   삼가면     합천군      합천군 삼가면  합천
634   가회면     합천군      합천군 가회면  합천
635   대병면     합천군      합천군 대병면  합천
636   용주면     합천군      합천군 용주면  합천

[637 rows x 4 columns]

In [23]:
for i in range(len(dist['loc'])):
  if dist['loc'][i] == '울릉':
    dist['loc'][i] = '울릉도'
  elif dist['loc'][i] == '김해':
    dist['loc'][i] = '김해시'
  elif dist['loc'][i] == '양산':
    dist['loc'][i] = '양산시' 
  elif dist['loc'][i] == '의령':
    dist['loc'][i] = '의령군'
  elif dist['loc'][i] == '함양':
    dist['loc'][i] = '함양군'
  elif dist['loc'][i] == '청송':
    dist['loc'][i] = '청송군'
  elif dist['loc'][i] == '경주':
    dist['loc'][i] = '경주시'
  # 창원의 경우 북창원과 창원 구분이 필요함
  elif dist['loc'][i] == '창원시 마산합포구':
    dist['loc'][i] = '창원'
  elif dist['loc'][i] == '창원시 마산회원구':
    dist['loc'][i] = '북창원'
  elif dist['loc'][i] == '창원시 성산구':
    dist['loc'][i] = '북창원'
  elif dist['loc'][i] == '창원시 진해구':
    dist['loc'][i] = '창원'
  elif dist['loc'][i] == '창원시 의창구':
    dist['loc'][i] = '북창원'

In [25]:
dist.to_csv('../A2W/데이터/data_raw/dist.csv',index=False, encoding='utf-8-sig')

In [22]:
asos

        stnId stnNm          tm  avgTa  ...  avgWs  minRhm  avgRhm  n99Rn
0         115   울릉도  2011-01-01    0.8  ...   11.1    65.0    82.5    5.8
1         130    울진  2011-01-01   -1.0  ...    6.0    40.0    79.0    0.0
2         136    안동  2011-01-01   -4.5  ...    2.1    41.0    58.8    0.0
3         137    상주  2011-01-01   -5.2  ...    3.3    36.0    50.0    0.0
4         138    포항  2011-01-01   -0.6  ...    2.8    39.0    48.1    0.0
...       ...   ...         ...    ...  ...    ...     ...     ...    ...
101890    285    합천  2019-12-31   -1.5  ...    1.8    18.0    40.6    0.0
101891    288    밀양  2019-12-31   -1.1  ...    2.9    14.0    26.4    0.0
101892    289    산청  2019-12-31   -2.5  ...    5.8    22.0    34.9    0.0
101893    294    거제  2019-12-31    0.7  ...    2.4    25.0    40.1    0.0
101894    295    남해  2019-12-31   -0.6  ...    1.3    26.0    44.6    0.0

[101895 rows x 16 columns]

In [26]:
# ASOS 날씨 데이터 기준 sites
sites = ['115', '130', '136', '137', '138', '143', '152', '155', '159', '253', '255', '257', '263', '264', '271', '272', '273', '162', '192', '276', '277', '278', '279', '281', '283', '284', '285', '288', '289', '294', '295']

sites_index = ['울릉도', '울진', '안동', '상주', '포항', '대구', '울산', '창원', '부산', '김해시', '북창원', '양산시', '의령군', '함양군', '봉화', '영주', '문경', '통영', '진주', '청송군', '영덕', '의성', '구미', '영천', '경주시', '거창', '합천', '밀양', '산청', '거제', '남해']

dic = {key:value for key, value in zip(sites_index, sites)}

dist['stnId'] = 0
missing_area = []

for i in range(len(dist['loc'])):
  if dist['loc'][i] in sites_index:
    dist['stnId'][i] = dic[dist['loc'][i]]
  else:
    missing_area.append(dist['loc'][i])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [27]:
dist

      umd     sgg         umd2 loc  stnId
0    구룡포읍  포항시 남구  포항시 남구 구룡포읍  포항    138
1     연일읍  포항시 남구   포항시 남구 연일읍  포항    138
2     오천읍  포항시 남구   포항시 남구 오천읍  포항    138
3     대송면  포항시 남구   포항시 남구 대송면  포항    138
4     동해면  포항시 남구   포항시 남구 동해면  포항    138
..    ...     ...          ...  ..    ...
632   쌍백면     합천군      합천군 쌍백면  합천    285
633   삼가면     합천군      합천군 삼가면  합천    285
634   가회면     합천군      합천군 가회면  합천    285
635   대병면     합천군      합천군 대병면  합천    285
636   용주면     합천군      합천군 용주면  합천    285

[637 rows x 5 columns]

In [28]:
dist.to_csv('../A2W/데이터/data_raw/dist2.csv',index=False, encoding='utf-8-sig')

In [29]:
# 가장 가까운 기상대
closest_area = {'김천': '구미', '예천': '문경', '사천': '진주', '청도': '밀양', '성주': '구미', 
                '고성': '구미', '고령': '합천', '함안': '창원', '하동': '진주', '창녕': '밀양',
                '경산': '영천', '칠곡': '구미', '군위': '의성'}

for i in range(len(dist['loc'])):
  # 영양을 제외한 다른 구역은 가장 가까운 기상대 위치로 날씨 측정
  if dist['loc'][i] in closest_area:
    # closest_area 딕셔너리에 value 값을 key 값 삼아서 그에 해당하는 dic 딕셔너리 sites 코드 value 값 리턴
    curr = closest_area[dist['loc'][i]]
    dist['stnId'][i] = dic[curr]
    # dist['stnId'][i] = dic[closest_area[dist['loc'][i]]
  # 영양의 경우 읍면동 단위에 따라 서로 다른 기상대 위치로 날씨 측정
  if dist['loc'][i] == '영양':
    if dist['umd'][i] == '석보면' or dist['umd'][i] == '영양읍' or dist['umd'][i] == '입암면':
      dist['stnId'][i] = dic['청송군']
    elif dist['umd'][i] == '일월면' or dist['umd'][i] == '수비면':
      dist['stnId'][i] = dic['울진']
    elif dist['umd'][i] == '청기면':
      dist['stnId'][i] = dic['안동']
  if dist['loc'][i] == '창원':
    if dist['sgg'][i] == '창원시 의창구' or dist['sgg'][i] == '창원시 마산회원구' or dist['sgg'][i] == '창원시 성산구':
      dist['stnId'][i] = dic['북창원']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [32]:
dist.to_csv('../A2W/데이터/data_raw/dist_tmp.csv',index=False, encoding='utf-8-sig')
dist

      umd     sgg         umd2 loc  stnId
0    구룡포읍  포항시 남구  포항시 남구 구룡포읍  포항    138
1     연일읍  포항시 남구   포항시 남구 연일읍  포항    138
2     오천읍  포항시 남구   포항시 남구 오천읍  포항    138
3     대송면  포항시 남구   포항시 남구 대송면  포항    138
4     동해면  포항시 남구   포항시 남구 동해면  포항    138
..    ...     ...          ...  ..    ...
632   쌍백면     합천군      합천군 쌍백면  합천    285
633   삼가면     합천군      합천군 삼가면  합천    285
634   가회면     합천군      합천군 가회면  합천    285
635   대병면     합천군      합천군 대병면  합천    285
636   용주면     합천군      합천군 용주면  합천    285

[637 rows x 5 columns]

In [37]:
# ASOS 데이터와 전처리한 산사태 발생 이력 데이터 결합
# 기준은 tm (날짜), stnId (측정소 ID)

landslide_merge = pd.merge(asos, dist, how='outer', on=['stnId'])
landslide_merge

         stnId stnNm         tm  avgTa  minTa  ...  n99Rn  umd  sgg     umd2  loc
0          115   울릉도 2011-01-01    0.8   -1.1  ...    5.8  울릉읍  울릉군  울릉군 울릉읍  울릉도
1          115   울릉도 2011-01-01    0.8   -1.1  ...    5.8   서면  울릉군   울릉군 서면  울릉도
2          115   울릉도 2011-01-01    0.8   -1.1  ...    5.8   북면  울릉군   울릉군 북면  울릉도
3          115   울릉도 2011-01-02    0.1   -0.9  ...   29.7  울릉읍  울릉군  울릉군 울릉읍  울릉도
4          115   울릉도 2011-01-02    0.1   -0.9  ...   29.7   서면  울릉군   울릉군 서면  울릉도
...        ...   ...        ...    ...    ...  ...    ...  ...  ...      ...  ...
2103646    295    남해 2019-12-31   -0.6   -4.7  ...    0.0   남면  남해군   남해군 남면   남해
2103647    295    남해 2019-12-31   -0.6   -4.7  ...    0.0   서면  남해군   남해군 서면   남해
2103648    295    남해 2019-12-31   -0.6   -4.7  ...    0.0  고현면  남해군  남해군 고현면   남해
2103649    295    남해 2019-12-31   -0.6   -4.7  ...    0.0  설천면  남해군  남해군 설천면   남해
2103650    295    남해 2019-12-31   -0.6   -4.7  ...    0.0  창선면  남해군  남해군 창선면   남해

[2103651 rows x 20 columns]

In [38]:
landslide_merge.columns

Index(['stnId', 'stnNm', 'tm', 'avgTa', 'minTa', 'maxTa', 'mi10MaxRn',
       'hr1MaxRn', 'sumRnDur', 'sumRn', 'maxInsWs', 'maxWs', 'avgWs', 'minRhm',
       'avgRhm', 'n99Rn', 'umd', 'sgg', 'umd2', 'loc'],
      dtype='object')

In [39]:
landslide_merge = landslide_merge[['tm', 'stnId', 'stnNm', 'umd', 'sgg', 'umd2', 'avgTa', 'minTa', 'maxTa', 'mi10MaxRn',
       'hr1MaxRn', 'sumRnDur', 'sumRn', 'maxInsWs', 'maxWs', 'avgWs', 'minRhm',
       'avgRhm', 'n99Rn','loc']]
landslide_merge

                tm  stnId stnNm  umd  sgg  ... avgWs  minRhm  avgRhm  n99Rn  loc
0       2011-01-01    115   울릉도  울릉읍  울릉군  ...  11.1    65.0    82.5    5.8  울릉도
1       2011-01-01    115   울릉도   서면  울릉군  ...  11.1    65.0    82.5    5.8  울릉도
2       2011-01-01    115   울릉도   북면  울릉군  ...  11.1    65.0    82.5    5.8  울릉도
3       2011-01-02    115   울릉도  울릉읍  울릉군  ...   6.0    65.0    91.5   29.7  울릉도
4       2011-01-02    115   울릉도   서면  울릉군  ...   6.0    65.0    91.5   29.7  울릉도
...            ...    ...   ...  ...  ...  ...   ...     ...     ...    ...  ...
2103646 2019-12-31    295    남해   남면  남해군  ...   1.3    26.0    44.6    0.0   남해
2103647 2019-12-31    295    남해   서면  남해군  ...   1.3    26.0    44.6    0.0   남해
2103648 2019-12-31    295    남해  고현면  남해군  ...   1.3    26.0    44.6    0.0   남해
2103649 2019-12-31    295    남해  설천면  남해군  ...   1.3    26.0    44.6    0.0   남해
2103650 2019-12-31    295    남해  창선면  남해군  ...   1.3    26.0    44.6    0.0   남해

[2103651 rows x 20 columns]

In [44]:
landslide_merge = landslide_merge.drop(['loc'], axis=1)
landslide_merge

                tm  stnId stnNm  umd  sgg  ... maxWs  avgWs  minRhm  avgRhm  n99Rn
0       2011-01-01    115   울릉도  울릉읍  울릉군  ...  19.0   11.1    65.0    82.5    5.8
1       2011-01-01    115   울릉도   서면  울릉군  ...  19.0   11.1    65.0    82.5    5.8
2       2011-01-01    115   울릉도   북면  울릉군  ...  19.0   11.1    65.0    82.5    5.8
3       2011-01-02    115   울릉도  울릉읍  울릉군  ...   8.5    6.0    65.0    91.5   29.7
4       2011-01-02    115   울릉도   서면  울릉군  ...   8.5    6.0    65.0    91.5   29.7
...            ...    ...   ...  ...  ...  ...   ...    ...     ...     ...    ...
2103646 2019-12-31    295    남해   남면  남해군  ...   3.4    1.3    26.0    44.6    0.0
2103647 2019-12-31    295    남해   서면  남해군  ...   3.4    1.3    26.0    44.6    0.0
2103648 2019-12-31    295    남해  고현면  남해군  ...   3.4    1.3    26.0    44.6    0.0
2103649 2019-12-31    295    남해  설천면  남해군  ...   3.4    1.3    26.0    44.6    0.0
2103650 2019-12-31    295    남해  창선면  남해군  ...   3.4    1.3    26.0    44.6    0.0

[2103651 rows x 19 columns]

In [45]:
landslide_merge.to_csv('../A2W/데이터/data_submission/ASOS_umd.csv',index=False, encoding='utf-8-sig')