<a href="https://colab.research.google.com/github/wonkwonlee/a2w-kma-big-data-contest/blob/main/AWS_Merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# 경로 설정 
import os
os.chdir('/content/drive/MyDrive/Colab Notebooks')

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import csv
import glob
import sys

In [26]:
area_code = [96,311,312,313,319,530,673,686,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,
             816,817,818,819,820,821,822,823,824,825,826,827,829,830,831,832,833,834,835,836,837,838,839,840,
             841,842,843,844,847,848,849,850,851,852,853,859,872,902,903,905,906,907,908,909,911,912,913,
             914,915,916,917,918,919,920,922,925,926,927,928,929,930,931,932,933,934,935,936,944,945,946,947,948,953,974]

      
area_name = ['독도','가야산','주왕산','양지암','천부','태하','진영','대곡','평해','영양','온정','옥산','청하','죽장','선산','의흥',
             '호미곶','대덕','성주','황성','고령','청도','부석','예천','구룡포','수비','마성','예안','하회','공성','김천','군위',
             '가산','칠곡','신녕','경산','외동','기계','석포','단북','은척','화서','봉화읍','현서','이산','동로','길안','하양','화북',
             '산내','금강송','영덕읍','소보','청도금천','지보','감포','소곡','죽변','팔공산','토함산','지리산','시천','도천',
             '양산상북','화개','삼천포','진해','서이말','매물도','백천','상주면','서하','삼가','단성','사천','고성','창녕','함안',
             '단장','생림','진북','송백','웅상','개천','사량도','욕지도','하동','금남','수곡','청덕','신포','길곡','대병','북상','명사',
             '삼장','장목','대곡']

In [16]:
# 연도별 지역별로 csv 병합

input_path = "../A2W/데이터/AWS/"

# 연도별 CSV 병합시키는 함수
def combine(num):
  # SURFACE_AWS_로 시작하는 연도별 모든 지역 csv 파일
  all_files = glob.glob(os.path.join(input_path,'SURFACE_AWS_' + num + '_*'))
  
  all_data_frames = []
  # 각 파일 별 데이터프레임을 all_data_frames에 저장
  for file in all_files:
    data_frame = pd.read_csv(file, index_col=None, encoding='cp949')
    all_data_frames.append(data_frame)
  # concat을 이용해 세로로 결합
  data_frame_concat = pd.concat(all_data_frames, axis=0, ignore_index=True)
  # CSV output 저장 
  data_frame_concat.to_csv("data/AWS/AWS_" + num + ".csv", index=False, encoding='utf-8-sig')

In [27]:
# 974번 대곡 (구 진주) Missing

for num in area_code:
  combine(str(num))

ValueError: ignored

In [28]:
all_files = glob.glob(os.path.join("data/AWS/",'AWS_*'))

merged_aws = []
for file in all_files:
  data_frame = pd.read_csv(file, index_col=None)
  merged_aws.append(data_frame)
merged_aws_concat = pd.concat(merged_aws, axis=0, ignore_index=True)
merged_aws_concat.to_csv("data/AWS_최종/AWS_merged.csv", index=False, encoding='utf-8-sig')

In [29]:
aws_df = pd.read_csv("data/AWS_최종/AWS_merged.csv")
aws_df_sorted = aws_df.sort_values(by=['일시', '지점'], ignore_index=True)
aws_df_sorted

         지점          일시  ...  최대 순간 풍속 풍향(hhmi)  최대 순간 풍속 풍향(deg)
0        96  2011-01-01  ...              254.9               NaN
1       311  2011-01-01  ...               56.3               NaN
2       312  2011-01-01  ...               34.5               NaN
3       313  2011-01-01  ...              304.8               NaN
4       319  2011-01-01  ...                4.2               NaN
...     ...         ...  ...                ...               ...
315150  945  2019-12-31  ...                NaN             320.6
315151  946  2019-12-31  ...                NaN             250.3
315152  947  2019-12-31  ...                NaN             272.8
315153  948  2019-12-31  ...                NaN              33.7
315154  953  2019-12-31  ...                NaN              16.9

[315155 rows x 15 columns]

In [30]:
aws_df_sorted.to_csv("data/AWS_최종/AWS_final.csv", index=False, encoding='utf-8-sig')