<a href="https://colab.research.google.com/github/wonkwonlee/a2w-kma-big-data-contest/blob/main/AWS_Index_Change.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# 경로 설정 
import os
os.chdir('/content/drive/MyDrive/Meteorological_Agency_Bigdata_Contest')

In [5]:
import pandas as pd
import csv

In [ ]:
area_code = [96,311,312,313,319,530,673,686,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,
             816,817,818,819,820,821,822,823,824,825,826,827,829,830,831,832,833,834,835,836,837,838,839,840,
             841,842,843,844,847,848,849,850,851,852,853,859,872,902,903,905,906,907,908,909,911,912,913,
             914,915,916,917,918,919,920,922,925,926,927,928,929,930,931,932,933,934,935,936,944,945,946,947,948,953,974]

area_name = ['독도','가야산','주왕산','양지암','천부','태하','진영','대곡','평해','영양','온정','옥산','청하','죽장','선산','의흥',
             '호미곶','대덕','성주','황성','고령','청도','부석','예천','구룡포','수비','마성','예안','하회','공성','김천','군위',
             '가산','칠곡','신녕','경산','외동','기계','석포','단북','은척','화서','봉화읍','현서','이산','동로','길안','하양','화북',
             '산내','금강송','영덕읍','소보','청도금천','지보','감포','소곡','죽변','팔공산','토함산','지리산','시천','도천',
             '양산상북','화개','삼천포','진해','서이말','매물도','백천','상주면','서하','삼가','단성','사천','고성','창녕','함안',
             '단장','생림','진북','송백','웅상','개천','사량도','욕지도','하동','금남','수곡','청덕','신포','길곡','대병','북상','명사',
             '삼장','장목','대곡']

In [7]:
aws_final = pd.read_csv('AWS_proc.csv')
aws_final.head()

    지점   지역          일시  ...  평균 풍속(m/s)  최대 순간 풍속 풍향(hhmi)  최대 순간 풍속 풍향(deg)
0   96   독도  2011-01-01  ...         5.7              254.9               NaN
1  311  가야산  2011-01-01  ...         2.2               56.3               NaN
2  312  주왕산  2011-01-01  ...         0.8               34.5               NaN
3  313  양지암  2011-01-01  ...         2.5              304.8               NaN
4  319   천부  2011-01-01  ...         6.9                4.2               NaN

[5 rows x 16 columns]

In [10]:
# 변수명 변경 -> rename 메서드 활용
col_rename = {'지점' : 'stnId', '지역' : 'stnNm', '일시' : 'tm', '평균기온(°C)' : 'avgTa', '최저기온(°C)' : 'minTa', '최저기온 시각(hhmi)' : 'minTaHrmt', '최고기온(°C)' : 'maxTa', '최고기온 시각(hhmi)' : 'maxTaHrmt', '1시간 최다강수량(mm)' : 'hr1MaxRn', '1시간 최다 강수량 시각(hhmi)' : 'hr1MaxRnHrmt', '일강수량(mm)' : 'sumRn', '최대 순간 풍속(m/s)' : 'maxInsWs', '최대 순간풍속 시각(hhmi)' : 'maxInsWsHrmt', '평균 풍속(m/s)' : 'avgWs', '최대 순간 풍속 풍향(hhmi)' : 'maxInsWsHrmt', '최대 순간 풍속 풍향(deg)' : 'maxInsWsWd'}
aws_final_rename = aws_final.rename(columns = col_rename)
aws_final_rename.head()

   stnId stnNm          tm  ...  avgWs  maxInsWsHrmt  maxInsWsWd
0     96    독도  2011-01-01  ...    5.7         254.9         NaN
1    311   가야산  2011-01-01  ...    2.2          56.3         NaN
2    312   주왕산  2011-01-01  ...    0.8          34.5         NaN
3    313   양지암  2011-01-01  ...    2.5         304.8         NaN
4    319    천부  2011-01-01  ...    6.9           4.2         NaN

[5 rows x 16 columns]