<a href="https://colab.research.google.com/github/wonkwonlee/a2w-kma-big-data-contest/blob/main/AWS_preprocess.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# 경로 설정 
import os
os.chdir('/content/drive/MyDrive/Colab Notebooks')

In [3]:
# Library

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import csv
import glob
import sys

In [5]:
df = pd.read_csv("../A2W/데이터/AWS_최종/AWS_final.csv")

In [6]:
area_code = [96,311,312,313,319,530,673,686,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,
             816,817,818,819,820,821,822,823,824,825,826,827,829,830,831,832,833,834,835,836,837,838,839,840,
             841,842,843,844,847,848,849,850,851,852,853,859,872,902,903,905,906,907,908,909,911,912,913,
             914,915,916,917,918,919,920,922,925,926,927,928,929,930,931,932,933,934,935,936,944,945,946,947,948,953]

      
area_name = ['독도','가야산','주왕산','양지암','천부','태하','진영','대곡','평해','영양','온정','옥산','청하','죽장','선산','의흥',
             '호미곶','대덕','성주','황성','고령','청도','부석','예천','구룡포','수비','마성','예안','하회','공성','김천','군위',
             '가산','칠곡','신녕','경산','외동','기계','석포','단북','은척','화서','봉화읍','현서','이산','동로','길안','하양','화북',
             '산내','금강송','영덕읍','소보','청도금천','지보','감포','소곡','죽변','팔공산','토함산','지리산','시천','도천',
             '양산상북','화개','삼천포','진해','서이말','매물도','백천','상주면','서하','삼가','단성','사천','고성','창녕','함안',
             '단장','생림','진북','송백','웅상','개천','사량도','욕지도','하동','금남','수곡','청덕','신포','길곡','대병','북상','명사',
             '삼장','장목']

dic = {key:value for key, value in zip(area_code, area_name)}

In [16]:
df['지역'] = ""

for i in range(len(df['지점'])):
  df['지역'][i] = dic[df['지점'][i]]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [19]:
df.columns

Index(['지점', '일시', '평균기온(°C)', '최저기온(°C)', '최저기온 시각(hhmi)', '최고기온(°C)',
       '최고기온 시각(hhmi)', '1시간 최다강수량(mm)', '1시간 최다 강수량 시각(hhmi)', '일강수량(mm)',
       '최대 순간 풍속(m/s)', '최대 순간풍속 시각(hhmi)', '평균 풍속(m/s)', '최대 순간 풍속 풍향(hhmi)',
       '최대 순간 풍속 풍향(deg)', '지역'],
      dtype='object')

In [20]:
df = df[['지점', '지역', '일시', '평균기온(°C)', '최저기온(°C)', '최저기온 시각(hhmi)', '최고기온(°C)',
       '최고기온 시각(hhmi)', '1시간 최다강수량(mm)', '1시간 최다 강수량 시각(hhmi)', '일강수량(mm)',
       '최대 순간 풍속(m/s)', '최대 순간풍속 시각(hhmi)', '평균 풍속(m/s)', '최대 순간 풍속 풍향(hhmi)',
       '최대 순간 풍속 풍향(deg)']]

In [21]:
df

         지점   지역          일시  ...  평균 풍속(m/s)  최대 순간 풍속 풍향(hhmi)  최대 순간 풍속 풍향(deg)
0        96   독도  2011-01-01  ...         5.7              254.9               NaN
1       311  가야산  2011-01-01  ...         2.2               56.3               NaN
2       312  주왕산  2011-01-01  ...         0.8               34.5               NaN
3       313  양지암  2011-01-01  ...         2.5              304.8               NaN
4       319   천부  2011-01-01  ...         6.9                4.2               NaN
...     ...  ...         ...  ...         ...                ...               ...
315150  945   대병  2019-12-31  ...         3.9                NaN             320.6
315151  946   북상  2019-12-31  ...         3.0                NaN             250.3
315152  947   명사  2019-12-31  ...         3.7                NaN             272.8
315153  948   삼장  2019-12-31  ...         6.0                NaN              33.7
315154  953   장목  2019-12-31  ...         5.4                NaN              16.9

[315155 rows x 16 columns]

In [22]:
df.to_csv("../A2W/데이터/AWS_최종/AWS_proc.csv", index=False, encoding='utf-8-sig')