In [2]:
# 현재 파일 위치 확인
import os
print(os.getcwd())

C:\Users\TitusChoi\Desktop\Library\A2W_Project

In [3]:
import pandas as pd
import csv

In [4]:
# 수정할 ASOS 데이터 불러오기
ASOS_final = pd.read_csv('datasets/ASOS_final.csv')
ASOS_final.head()

,stnId,stnNm,tm,avgTa,minTa,minTaHrmt,maxTa,maxTaHrmt,mi10MaxRn,mi10MaxRnHrmt,...,avgM05Te,avgM10Te,avgM15Te,avgM30Te,avgM50Te,sumLrgEv,sumSmlEv,n99Rn,iscs,sumFogDur
0,115,울릉도,2011-01-01,0.8,-1.1,352.0,2.1,1505.0,NaN,NaN,...,3.4,7.3,10.8,14.5,14.7,NaN,0.5,5.8,-{눈}-{눈}{강도0}0300-{소낙눈}0420-{시정(미만)}{1km}{소낙눈}...,NaN
1,130,울진,2011-01-01,-1.0,-7.0,132.0,2.3,1018.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{눈}0620-{눈}{강도1}0900-{눈}{강도0}1200-{눈}{강도0}1500...,NaN
2,136,안동,2011-01-01,-4.5,-11.0,330.0,2.9,1506.0,NaN,NaN,...,2.2,6.0,NaN,NaN,NaN,NaN,1.7,NaN,NaN,NaN
3,137,상주,2011-01-01,-5.2,-9.9,443.0,0.5,1445.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,138,포항,2011-01-01,-0.6,-6.2,432.0,5.2,1525.0,NaN,NaN,...,5.9,11.1,12.5,17.3,17.8,NaN,1.9,NaN,{햇무리}1520-1630.,NaN

In [5]:
# 합칠 hg 데이터 불러오기
hg = pd.read_csv('datasets/sum_hg_all.csv')
hg.head()

,Unnamed: 0,BASE_DATE,ADM_DR_CD,ADM_DR_NM,시,umd2,sum_cnt,landslide,check_umd,OBJ_ID,...,EIGHT_AGL,CLZN_CD,TPGRP_TPCD,PRDN_FOM_C,SLANT_TYP,SLDPT_TPCD,SCSTX_CD,SLTP_CD,LDMARK_STN,MAP_LABEL
0,0,20200630,3737035,개진면,고령군,고령군 개진면,0.0,0.0,1.0,221291,...,158.6,3,12,1,1,20,2,1,L101,b'B\xa9\xfb'
1,1,20200630,3737033,성산면,고령군,고령군 성산면,0.0,0.0,1.0,221315,...,244.5,3,12,1,1,10,2,1,L101,b'B\xa9\xfb'
2,2,20200630,3737036,우곡면,고령군,고령군 우곡면,1.0,1.0,1.0,221860,...,285.2,3,7,1,1,10,3,13,L313,b'DRb\xa9\xfb'
3,3,20200630,3736033,각북면,청도군,청도군 각북면,0.0,0.0,1.0,222469,...,15.5,3,12,1,1,10,2,1,L101,b'B\xa9\xfb'
4,4,20200630,3736034,이서면,청도군,청도군 이서면,0.0,0.0,1.0,222863,...,86.6,3,12,1,1,10,2,1,L101,b'B\xa9\xfb'

In [29]:
# tree
tree = pd.read_csv('datasets/tree_sum_final.csv', encoding = 'cp949')
tree.head()

,Unnamed: 0,BASE_DATE,ADM_DR_CD,ADM_DR_NM,시,umd2,sum_cnt,landslide,STORUNST,FROR_CD,FRTP_CD,KOFTR_GROU,DMCLS_CD,AGCLS_CD,DNST_CD,HEIGHT,LDMARK_STN,MAP_LABEL,ETC_PCMTT
0,0,20200630,3731033,부계면,군위군,군위군 부계면,0,0,1,2,1,11,2,4,C,12,J12111,NPD-24C,0
1,1,20200630,3731034,우보면,군위군,군위군 우보면,0,0,1,2,1,11,2,4,C,12,J12111,NPD-24C,0
2,2,20200630,3731036,산성면,군위군,군위군 산성면,0,0,1,2,1,11,2,4,C,12,J12111,NPD-24C,0
3,3,20200630,3707032,신녕면,영천시,영천시 신녕면,0,0,1,2,2,30,1,3,C,10,J12230,NEB-13C,0
4,4,20200630,3707033,화산면,영천시,영천시 화산면,0,0,1,2,2,30,1,3,C,10,J12230,NEB-13C,0

In [31]:
# 분류
'''
김천 - 구미
영양 - 청송 (석보, 영양) / 울진 (수비, 일월)
예천 - 문경
사천 - 진주
청도 - 밀양
성주 - 김천
고성 - 구미
고령 - 합천
함안 - 창원
하동 - 진주 (광양)
창녕 - 밀양
'''

# ASOS + hg 데이트 합치기
# input : 날짜 + 지역
input_date = '2011-05-31' # 날짜 단위
input_ssg = '포항' # 시 단위
input_umd = '기계면' # 읍면동 단위

def specific_data(ssg, umd, date):
    # 지역 조건과 날짜 조건을 만족하는 ASOS 데이터
    ASOS_final_specific = ASOS_final[ASOS_final['stnNm'].str.contains(ssg) & ASOS_final['tm'].str.contains(date)]
    hg_final_specific = hg[hg['umd2'].str.contains(umd)]
    hg_final_specific['stnNm'] = hg_final_specific['umd2'].str[0:2]
    tree_final_specific = tree[tree['umd2'].str.contains(umd)]
    tree_final_specific['stnNm'] = tree_final_specific['umd2'].str[0:2]
    temp_merged_specific = pd.merge(hg_final_specific, ASOS_final_specific, on = 'stnNm')
    merged_specific = pd.merge(tree_final_specific, temp_merged_specific, on = 'stnNm')
    return merged_specific

print(specific_data(input_ssg, input_umd, input_date))

   Unnamed: 0_x  BASE_DATE_x  ADM_DR_CD_x ADM_DR_NM_x     시_x      umd2_x  \
0           132     20200630      3701234         기계면  포항시 북구  포항시 북구 기계면

   sum_cnt_x  landslide_x  STORUNST  FROR_CD  ...  avgM05Te  avgM10Te  \
0          6            1         2        0  ...      17.6      17.0

   avgM15Te  avgM30Te avgM50Te  sumLrgEv sumSmlEv n99Rn  \
0      16.1      14.9     15.0       0.2      0.4   2.5

                                                iscs sumFogDur
0  {비}1230-{비}{강도0}1500-1640. {박무}1220-{박무}{강도0}1...       NaN

[1 rows x 107 columns]

c:\users\tituschoi\desktop\library\a2w_project\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\tituschoi\desktop\library\a2w_project\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [13]:
'''
for i in range(len(hg_final_specific['location'])):
  if hg_final_specific['location'][i] == '울릉':
    hg_final_specific['location'][i] = '울릉도'
  elif hg_final_specific['location'][i] == '김해':
    hg_final_specific['location'][i] = '김해시'
  elif hg_final_specific['location'][i] == '양산':
    hg_final_specific['location'][i] = '양산시' 
  elif hg_final_specific['location'][i] == '의령':
    hg_final_specific['location'][i] = '의령군'
  elif hg_final_specific['location'][i] == '함양':
    hg_final_specific['location'][i] = '함양군'
  elif hg_final_specific['location'][i] == '청송':
    hg_final_specific['location'][i] = '청송군'
  elif hg_final_specific['location'][i] == '경주':
    hg_final_specific['location'][i] = '경주시'
'''

"\nfor i in range(len(hg_final_specific['location'])):\n  if hg_final_specific['location'][i] == '울릉':\n    hg_final_specific['location'][i] = '울릉도'\n  elif hg_final_specific['location'][i] == '김해':\n    hg_final_specific['location'][i] = '김해시'\n  elif hg_final_specific['location'][i] == '양산':\n    hg_final_specific['location'][i] = '양산시' \n  elif hg_final_specific['location'][i] == '의령':\n    hg_final_specific['location'][i] = '의령군'\n  elif hg_final_specific['location'][i] == '함양':\n    hg_final_specific['location'][i] = '함양군'\n  elif hg_final_specific['location'][i] == '청송':\n    hg_final_specific['location'][i] = '청송군'\n  elif hg_final_specific['location'][i] == '경주':\n    hg_final_specific['location'][i] = '경주시'\n"